.call {
  margin-top: 10px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 200px;
  height: 60px;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 8px;
}

.back,.next {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  position: absolute;
  bottom: 50px;
}

.forget {
  background-color: #eee;
  border: none;
  padding: 8px 24px;
  margin-top: 24px;
  line-height: 1;
  border-radius: 4px;
  color: #000;
  appearance: none;
  cursor: pointer;

}

.back {
  background-color: #b3b3b3;
  left: 80px;
  line-height: 60px;
}

.next {
  background-color: #4cb0f0;
  right: 80px;
  border: none;
  cursor: pointer;
}