@font-face {
  font-family: 'Caviar-Dreams-Bold';
  src: url('Caviar-Dreams-Bold.ttf.woff') format('woff'),
  url('Caviar-Dreams-Bold.ttf.svg#Caviar-Dreams-Bold') format('svg'),
  url('Caviar-Dreams-Bold.ttf.eot'),
  url('Caviar-Dreams-Bold.eot?#iefix') format('embedded-opentype'); 
}

* {
  margin: 0;
  padding:0;
  font-family:"Caviar Dreams",sans-serif;
  font-size: 26px;
  color: #000;
}

html {
  height: 100%;
  body {
    background:url("../img/bg.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    height: 100%;
    #logo {
      width: 20%;
    }
  }
}


#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.3); 
  text-align: center;
  .inner {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
  }
}

#form .input {
  width: 600px;
  height: 70px;
  border: none;
  background:none;
  appearance:none;
  border-bottom: solid 5px #000;
  font-size: 40px;
}