@charset "utf-8";
@import "reset","layout", "button";

/*===========================
=            top            =
===========================*/
#top {
  #clock,#day {
    color: #fff;
  }
  .btn-column {
    width: 800px;
    margin: 32px auto 0;
    display: flex;
    a {
      display: block;
      flex: 1;
      padding: 40px 40px;
      margin: 16px;
      border: solid 2px #fff;
      color: #fff;
      background-color: #333;
      &:hover {
        background: none;
      }
    }
  }
}

/*============================
=            code            =
============================*/
#code {
  #form {
    input {
      width: 340px;
      height: 120px;
      border: none;
      background: none;
      appearance:none;
      border-bottom: solid 7px #000;
      font-size: 100px;
      margin-right: 10px;
    }
    span {
      height: 60px;
      width: 60px;
      text-align: center;
    }
    #number-form {
      text-align: center;
      color: #fff;
    }

    #delete-button i {
      font-style: 50px;
      font-weight: bold;
    }
  }

  .error {
    color: #f00;
    font-size: 20px;
    margin-top: 20px;
  }

  .btn-column {
    width: 100%;
    .btn-row {
      display: flex;
      width: 50%;
      margin: 16px auto 0;
      .button-number {
        flex: 1;
        margin-right: 16px;
        border-radius: 4px;
        background-color: #333;
        font-size: 40px;
        width: 80px;
        height: 80px;
        line-height: 1;
        color: #fff;
        &:hover {
          background: none;
        }
      }
    }
  }
}


/*==============================
=            member            =
==============================*/
.member {
  width: 220px;
  height: 340px;
  background-color: #fff;
  margin:auto;
  border-radius: 3px;
  img {
    margin:20px 0 5px 0;
    width: 150px;
    background:url("../../src/img/member/0.jpg");
    background-size: 150px;
  }
  .division {
    margin-bottom: 5px;
  }
  small {
    font-size: 12px;
  }
  .name {
    font-size: 24px;
    font-weight: 800;
  }
}

/*============================
=            list            =
============================*/
.list {
  width: 280px;
  height: 130px;
  background-color: #fff;
  border: solid 1px #000;
  box-sizing: border-box;
  .list-row {
    display: flex;
    .list-name, .list-image {
      flex: 1;
    }
    .list-name {
      .kana {
        margin-top: 16px;
        font-size: 12px;
      }
    }
  }
  img {
    width: 90px;
    background:url("../img/member/0.jpg");
  }
  span {
    text-align: center;
    font-size: 22px;
  }
  p {
    width: 150px;
    margin:auto;
    font-size: 16px;
  }
  &:hover {
    border: solid 2px #4cb0f0;
  }
}

.employee_list {
  width: 840px;
  height: 300px;
  margin: auto;
  text-align: left;
  overflow: scroll;
  border: solid 3px #000;
  border-radius: 8px;
}
.initial_list {
  width: 920px;
  margin: auto;
  margin-top: 20px;
  .initial {
    width: 72px;
    height: 72px;
    line-height: 72px;
    background-color: #fff;
    list-style: none;
    float: left;
    font-size: 35px;
    margin: 0 20px 30px 0;
    border-radius: 5px;
    &:hover {
      background-color: #bbb;
    }
  }
}

/*============================
=            wait            =
============================*/

#wait {
  .detail {
    margin-top: 48px;
    p {
      margin-top: 16px;
      &.loading {
        font-size: 150px;
      }
    }
  }
}