@charset"utf-8";

*{
  margin: 0px;
  padding:0px;
  font-family: "HiraKakuProN-W6", sans-serif;
}

body{
  background:url(../img/bg.jpg);
  /*background: no-repeat;*/
}

h1 {
  width: 70%;
  padding:50px 20px 20px;
  text-align: center;
  display:block;
  margin: auto;
  font-size: 40px;
}
#form{
  width:700px;
  margin: auto;
  padding-top:100px;
}


#form .input{
  width: 600px;
  height: 70px;
  border: none;
  background:none;
  appearance:none;
  border-bottom: solid 5px #000;
  font-size: 40px;
  margin-top: 50px;
}

.list{
  height: 100px;
  background-color: #fff;
}

.list img{
  width: 100px;
  float: left;
}

#wrapper{
  width: 90%;
    background-color: rgba(255,255,255,0.4); 
    /*vertical-align: middle;*/
    margin: auto;
    margin-top: 50px;
    text-align: center;
    height: 960px;
}

#inner{
  margin-top: 70px;
}

.a_list{
  position: relative;
}

.back{
  width: 200px;
  height: 50px;
  /*height: 80px;*/
  background-color: #b3b3b3;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #333;
  display: block;
  color: #fff;
  font-size:25px;
  padding-top: 10px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-align: center;
  text-decoration: none;
}

.next{
  appearance:none;
  border: none;
  padding-bottom: 10px;
  background-color: #4cb0f0;
  width: 200px;
  height: 60px;
  box-shadow: 5px 5px 10px #333;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  padding-top: 5px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
    -webkit-appearance: none;
}